/* .box1{
    background: linear-gradient();
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box2{
    background: linear-gradient();
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box3{
    background: linear-gradient();
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.container{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-left: 50px;
    background-color: aqua;


}