/* .box1{
    background: linear-gradient();
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box2{
    background: linear-gradient();
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box3{
    background: linear-gradient();
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .container{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-left: 50px;
    background-color: aqua;


} */

.container{


        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
        background-color: lightcyan;
        margin-top: 40px;

}

.abc{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.text{
    font-size: 50px;
    color: mediumblue;
}